<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLeu2ONENrUk8WMrR8TFQKo2W44woZ7eA</string>
	<key>GCM_SENDER_ID</key>
	<string>466840419526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BUMOU.OneSignalNotificationServiceExtension</string>
	<key>PROJECT_ID</key>
	<string>bumou-cn</string>
	<key>STORAGE_BUCKET</key>
	<string>bumou-cn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466840419526:ios:f52888161d933acfd6abc7</string>
</dict>
</plist>